@import "./theme.less";
@import '~antd/dist/antd.css';

.navbar-header{background: url(../img/ic_heard_img.png)no-repeat ; position: relative; height: 170px;}
.navbar-meus{opacity: 0.5; height: 45px;width: 100%; background-color: @body-background-black }
.list{text-align: center;width: 80%}